{
  "presets": [
    "@babel/preset-env",
    "@babel/react"
  ],
  "plugins": [

    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-transform-runtime", {}],
    ["@babel/plugin-proposal-optional-chaining", {}],
    ["@babel/proposal-class-properties", { "loose": true }],
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ]
}